<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
	<title>게시글 상세</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/css/getBoard.css">
</head>

<body th:align="center">
<div id="wrapper">
<h1 id="title">게시글 상세</h1>
<form th:action="@{/board/updateBoard}" method="post">
	<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">				
		<tr>
			<td class="gray" th:text="제목" width="70"></td>
			<td><input name="seq" type="hidden" th:value="${board.seq}">
			     <input class="input" name="title" type="text" th:value="${board.title}"></td>
		</tr>
		<tr>
			<td class="gray" th:text="분류"></td>
			<td th:text="${board.category}"></td>
		</tr>
		<tr>
			<td class="gray" th:text="작성자"></td>
			<td th:text="${board.member?.name}"></td>
		</tr>
		<tr>
			<td class="gray" th:text="내용">
			<td><textarea class="input" name="content" th:text="${board.content}" cols="95" rows="9"></textarea></td>
		</tr>
		<tr>
			<td class="gray" th:text="등록일"></td>
			<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}">
		</tr>
		<tr>
			<td class="gray" th:text="조회수"></td>
			<td th:text="${board.cnt}"></td>
		</tr>
		<!-- 이미지 출력 -->
		<tr>
			<th class="gray">첨부파일</th>
		 	<td id="img" th:each="imageFile : ${all}" style="text-align: center; float:left -100px; margin: auto; display: inline-block; ">
		   		<img th:src=" |/board/images/${imageFile.id}|"  width="80" height="80" style="text-align: center;">
		   	 	<br><a th:href="|/board/attach/${imageFile.id}|" th:text="${imageFile.orgName}"></a>
		 	</td>
		</tr>
	</table>
</form>
<br>

<!-- 댓글 입력란 -->
<form th:action="@{/board/replywrite(seq=${board.seq})}" method="post">
    <input type="text" id="reply" name="content" placeholder="댓글을 입력해주세요">
    <button type="submit">등록</button>
 </form>

<!-- 댓글 리스트 -->
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="800">
         <tr>
            <th class="green" width="110">작성자</th>
            <th class="green" width="590">내용</th>
            <th class="green" width="50">삭제</th>
         </tr>
         <tr th:each="reply, state : ${replyList}">
            <td th:text="${reply.member.name}" th:align="center"></td>
            <td><textarea class="input" name="content" th:text="${reply.content}"  cols="71"></textarea></td>
            <td th:align="center"><a sec:authorize="hasRole('ROLE_MEMBER')" th:if="${board.member.id==member.id}" th:href="@{/board/replyDelete(replyId=${reply.replyId}, seq=${board.seq})}" >삭제</a>
            <a th:if="${board.member.id==member.id}"  th:href="@{/board/replyDelete(replyId=${reply.replyId}, seq=${board.seq})}" ></a></td>
         </tr>
      </table>
      <ul>
         <li th:each="page : ${#numbers.sequence(0, searchResult.getPage() - 1)}">
            <a th:href="@{/board/getBoard(page=${pageStat.index}, seq=${board.seq})}"
               th:text="${pageStat.index + 1}"></a>
         </li>
      </ul>	
      
	
<!-- 메일 전송 -->
<div style="margin-top: 10px">
   <form th:action="@{/mail}" method="post">
   		<input type="hidden" name="seq" th:value="${board.seq}" >
        <input name="to" placeholder="이메일 주소">
        <button style="margin-top: 10px">발송</button> <br>
        <input type="hidden" name="subject" th:value="${board.title}" >
        <input type="hidden" name="mcontent" th:value="${board.content}" >
	        <div id="place-l" th:each="files : ${all}">
	               <input th:if="${files.board.seq} == ${board.seq}" type="hidden" name="filePath" th:value="${files.savedPath}">
	        </div>
	        	
    </form>
</div>
 
 <div>
	<input id="middle" th:if="${board.member.id==member.id}" type="submit" value="게시글 수정">
	<a id="write" th:if="${board.member.id==member.id}" th:href="@{/board/deleteBoard(seq=${board.seq})}">글삭제</a>&nbsp;&nbsp;
	<a id="list" th:href="@{/board/getBoardList}">글목록</a>
</div>
</div>
</body>
</html>
