<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>새 글 등록</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/css/insertBoard.css">
</head>

<body th:align="center">
<div id="wrapper">
<h1 id="title">게시글 등록</h1>
<br>
<form th:action="@{/board/insertBoard}" method="post" enctype="multipart/form-data">
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">				
	<tr>
		<td class="gray" th:text="제목" width="80"></td>
		<td><input class="input" name="title" type="text" size="110"></td>
	</tr>
	<tr>
		<td class="gray" th:text="분류" width="80"></td>
		<td>
		<select id="category" name="category">
			<option value="" disabled selected>분류 선택</option>
			<option value="공지" sec:authorize="hasRole('ROLE_ADMIN')">공지</option>
			<option value="자유">자유</option>
			<option value="기타">기타</option>
		</select>
	</td>
	</tr>
	<tr>
		<td class="gray" th:text="작성자"></td>
		<td><span sec:authentication="principal.member.name"></span></td>
	</tr>
	<tr>
		<td class="gray" th:text="내용">
		<td><textarea class="input" name="content" cols="100" rows="20"></textarea></td>
	</tr>
	
	<tr><!-- 파일 업로드 -->
            <td colspan="3" align="center">
                <!-- <input type="file" name="file">-->
                <input type="file" multiple="multiple" name="files"> 
            </td>
         </tr>
</table>
<br>
<br>
<div id="list">
	<a th:href="@{/board/getBoardList}">글목록</a>
</div>
<input id="middle" type="submit" value="게시글 등록">
</form>	


</div>
</body>
</html>
