body{
	margin:0 auto;
}

#wrapper{
	margin:20px auto 0 auto;
	padding:20px 40px 0 40px;
	width:950px;
	height:800px;
	background-color:#cccccc;
	border-radius:10px;
}

#title{
	color:#414141;
}

.gray{
	background-color:#4a4a4a;
	color:white;
	text-align:center;
}

.input{
	background-color:transparent;
	border:none;
	width:700px;
}


.green{
	background-color:#727272;
	color:white;
}

#reply{
	 maxlength:200;
}

#write{
	float:right;
	background-color:#565656;
	text-decoration:none;
	color:white;
	font-size:12pt;
}


#list{
	float:left;
	background-color:#565656;
	text-decoration:none;
	color:white;
	font-size:12pt;
}

#middle{
	border:0;
	outline:0;
	background-color:#565656;
	color:white;
	font-size:12pt;
}

#img{
	border:none;
}


ul {
   text-align: center;
   margin-top: 20px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}