body{
	margin:0 auto;
}

#wrapper{
	margin:20px auto 0 auto;
	padding:20px 40px 0 40px;
	width:950px;
	height:500px;
	background-color:#cccccc;
	border-radius:10px;
}

#title{
	color:#414141;
}

.gray{
	background-color:#4a4a4a;
	color:white;
}

#middle{
	border:0;
	outline:0;
	background-color:#565656;
	color:white;
	font-size:12pt;
}